# dff9-W4111-Spring-2026-002-HW1b.ipynb

## Introduction

### Homework Overview

There are three parts to the homework.
- Part 1 (HW1A) walks you through the setup of your personal computer that is necessary for this course. You demonstrate completion by inserting screenshots or running code cells that demonstrate you successfully completed setup. You separately completed this homework and will submit on CourseWorks.<br><br>
- Part 2 is a set of written questions that demonstrate you studied and understand lecture 1 and lecture 2 material from the course, and from the [lecture 1 and lecture 2 slides](https://www.db-book.com/slides-dir/index.html) from the recommended textbook.<br><br>
- Part 3 is a set of practical questions demonstrating basic knowledge of relational algebra and SQL.

There are no track specific questions for homework 1. This notebook is part 2 and part 3.

## Submission Instructions

The HW is due on Sunday, 08-February at 11:59 PM. Please follow the [submission instructions](https://edstem.org/us/courses/94820/discussion/7597858) on CourseWorks for submitting your homework.

## Environment Setup

Execute the cells below. Make sure to set the password you used when installing MySQL in the cell below.

In [1]:
%load_ext sql

Set the password you used when installing MySQL below.

In [2]:
mysql_root_user = 'root'
mysql_root_password = 'dbuserdbuser'

mysql_url = f"mysql+pymysql://{mysql_root_user}:{mysql_root_password}@localhost"

In [3]:
%sql $mysql_url

In [4]:
%sql use db_book;

 * mysql+pymysql://root:***@localhost
0 rows affected.

[]

In [5]:
%config SqlMagic.style = '_DEPRECATED_DEFAULT'

In [6]:
%sql select * from student where dept_name='Comp. Sci.';

 * mysql+pymysql://root:***@localhost
4 rows affected.

[('00128', 'Zhang', 'Comp. Sci.', Decimal('102')),
 ('12345', 'Shankar', 'Comp. Sci.', Decimal('32')),
 ('54321', 'Williams', 'Comp. Sci.', Decimal('54')),
 ('76543', 'Brown', 'Comp. Sci.', Decimal('58'))]

## Lecture 1 and 2 and Book Slides from Lecture 1 and 2 Questions

## Q1

#### Question

Consider the applications used for managing courses and enrollments at Columbia, e.g. CourseWorks, Vergil. These applications use database management systems. Consider an alternate approach in which the university used a set of shared Google sheets to manage classes and enrollments. Faculty, administrators and students would edit the sheets to create classes, enroll in classes, etc. Identify five problems with the shared sheet approach and explain the features of a DBMS that solve the problem. Be succinct.

#### Answer

## Q2

#### Question

What is data abstraction? What are the levels of data abstraction?

#### Answer

## Q3

#### Question

Briefly explain the concepts of database _schema_ and _instance._

#### Answer

## Q4

#### Question

Consider a scenario in which multiple users and programs access a database. For this scenario, what is an example of the benefits of _physical data independence?_

#### Answer

## Q5

#### Question

What are the two types/classes of languages that a DBMS system provides.

#### Answer

## Q6

#### Question

Briefly explain the concepts of _declarative_ and _procedural_ database manipulation languages. What is one benefit of declarative languages?

#### Answer

## Q7

#### Question

What are the 3 levels of data modeling/entity relationship modeling?

#### Answer

## Q8

#### Question

What is a feature of the DBMS _storage manager_ that provides fast access to data in a database?

#### Answer

## Q9

#### Question

Briefly explain/define the concept of a transaction.

#### Answer

## Q10

#### Question

Consider Vergil. Is this a _two tier_ or _three tier_ database application architecture?

#### Answer

## Q11

#### Question

In the setup tasks from the previous section, you created a database schema and loaded data. You then wrote a simple query. Which tasks would a database administrator perform and which tasks would a database user perform?

#### Answer

## Q12

#### Question

Briefly explain the concepts of _unstructured_, _semi-structured_ and _structured_ data. Which type of data is a file holding an audio recording.

#### Answer

## Q13

#### Question

For a file holding an audio recording, what would typical metadata be?

#### Answer

## Q14

#### Question

What are "The 5 Vs" of data?

#### Answer

## Q15

#### Question

Briefly explain the concepts of _entity set,_ _relationship set_ and _attributes._

#### Answer

## Q16

#### Question

Explain the relationship between the $relational \ algebra$ and the SQL language.

#### Answer

## Q17

#### Question

The formal definition of a _theta join_ is $ùëü ‚ãà_ùúÉ ùë† = ùúé_ùúÉ  (ùëü √ó ùë†)$. Briefly explain how this definition relies on the $relational\  algebra$ being an $algebra$ and $closed$ under relational operations.

#### Answer

## Q18

#### Question

Briefly explain _natural join_ and _theta join._ What is one "danger" associated with using a natural join?

#### Answer

## Q19

#### Question

Is it possible to express all valid SQL statements in the $relational\ algebra$? If not, give an example of an SQL statement that cannot be expressed in $relational\ algebra$.

#### Answer

## Q20

#### Question

What is the result of executing the SQL statement ```SELECT NULL=NULL```?

#### Answer

## Practical Questions

### P1

#### Question

Consider the following description of a datamodel.

There are three entity sets with the following attributes:
1. ```Course```
    - ```course_no```, which uniquely identifies a course.
    - ```course_title```
    - ```course_description```
2. Section
    - ```call_no,``` which uniquely identifies a section.
    - ```course_no```
    - ```section_no```
    - ```semester```
    - ```year```
    - ```maximum_enrollment```
3. Student
    1. ```UNI```, which uniquely identifies a student.
    2. ```last_name```
    3. ```first name```

A section is a section of exactly one course. A course may have 0, 1 or many sections. A student may be associated with 0, 1 or many sections. A section may be associated with 0, 1 or many students.

Using Crow's Foot Notation and Lucidchart or an equivalent tool, draw a logical datamodel for the scenario. Replace the image below with a screen capture of your diagram. Your data model must be realizable/implementable in SQL.

__NOTE:__ The diagram below is a conceptual model. The question is asking you to define a logical model.

#### Answer


| <img src="p1-question.jpg" width="700px"> |
| :---: |
| __Logical Model__ |

### P2

#### Question

Using the [RelaX relational calculator](https://dbis-uibk.github.io/relax/calc/gist/4f7866c17624ca9dfa85ed2482078be8) and the sample data that comes with the recommended textbook, write an algebra expression that computes the the ```courses``` that are in the "Comp. Sci." ```department``` and have ```4```  credits. Your answer should inly contain ```course_id```, ```title``` and ```credits.```

Your answer should be in the format below:
1. The text of your query.
2. A screen capture of the execution result.

The answer area below contains an example of the result format but for a different query.

#### Answer

```œÉ salary > 80000 (instructor)```

| <img src="p2-question.jpg" width="700px"> |
| :---: |
| __P2 Answer__ |

### P3

#### Question

Use the RelaX relational calculator and the sample data that comes with the recommended textbook for this question.

The following table lists instructors and the students they advise for instructors in the 'Comp. Sci.' department. Write a relational algebra expression that produces the table.

| instructor_id	| instructor_name |	advises | student_id | student_name |
| :---: | :---: | :---: | :---: | :---: |
| 10101 | 'Srinivasan' | 'advises' | 12345 | 'Shankar' |
| 45565 | 'Katz' | 'advises' | 128 | 'Zhang' |
| 45565 | 'Katz' | 'advises' | 76543 | 'Brown' |

Your column names must match the above column names.

Replace the relational expression and image below with the result of executing your statement

#### Answer

```œÉ salary > 80000 (instructor)```

| <img src="p2-question.jpg" width="700px"> |
| :---: |
| __P2 Answer__ |

### P4

#### Question

The following is a simple Crow's Foot Diagram of two entity sets and a relationship. Write and execute  ```SQL CREATE TABLE``` statements that implement the model in the diagram. You can assume that the data type for all attributes is ```VARCHAR(64).```

| <img src="er-1.jpg"> |
| :---: |
| __P4 Diagram__ |

#### Answer

In [ ]:
%%sql

/*
    Put your create table statement below and execute this cell.
*/

### P5

#### Question

For the sample database you setup and loaded, write a ```SQL SELECT``` statement that returns the the courses that are in the "Comp. Sci." department and have 4 credits.

#### Answer

In [7]:
%%sql

/*
    Write your SQL below and execute the cell.
*/

 * mysql+pymysql://root:***@localhost
0 rows affected.

[]

### P6

#### Question

For the sample database, write and execute a statement that adds the following professor to the instructor's table.

```
{
    ID: 666,
    name: "Ferguson",
    dept_name: "Comp. Sci.",
    salary: 100000.00
}

#### Answer

In [ ]:
%%sql

/*
    Write your SQL statement below and execute.
*/

### P7

#### Question

For the sample database and the row you just inserted, write and execute an ```SQL UPDATE``` statement that is guaranteed to update ONLY the row you just inserted and set the salary to ```120,000.00```.

#### Answer

In [ ]:
%%sql

/*
    Write your SQL statement below and execute.
*/

### P8

#### Question

For the sample database and the row you just inserted, write and execute an ```SQL DELETE``` statement that is guaranteed to delete ONLY the row you just inserted.

#### Answer

In [ ]:
%%sql

/*
    Write your SQL statement below and execute.
*/

### P9

#### Question

In this question, you use the ```db_book``` tables ```student, instructor``` and ```advisor```. You are recreating the $relational \ algebra$ query from question ```P3``` in SQL. Enter your SQL in the cell below. My answer, which you must match, is below. The order of the rows does not matter.

<img src="sql9-answer.jpg">

#### Answer

In [ ]:
%%sql

## Create PDF

1. Use the ```File -> Save and Export Notebook as -> HTML``` option to save your notebook as an HTML file.
2. Copy the created HTML file to the same directory as the notebook and images you created.
3. Open the HTML file in a browser.
4. Using the _browser's_ ```File -> Print``` option print the HTML file to a PDF. This is your submission format.
5. Follow the submission instructions on Ed Discussion to submit your file to GradeScope.